name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: checkout
        uses: actions/checkout@v5

      - name: Setup Rust
        id: setup-rust
        run: rustup show

      - uses: Swatinem/rust-cache@v2

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Test
        run: cargo test --verbose --locked

      - name: Check formatting
        id: check-formatting
        run: cargo fmt --check

      - name: Run linter
        id: lint
        run: cargo clippy
