name: Release

on:
  release:
    types: [created]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Version
        run: |
          # strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Zip Protos
        run: zip -r protos-${VERSION}.zip proto

      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload release protos
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./protos-${{ env.VERSION }}.zip
          asset_name: protos-${{ env.VERSION }}.zip
          asset_content_type: application/octet-stream

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image name
        id: image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/object-store
          # change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          # set output
          echo "id=$IMAGE_ID" >> $GITHUB_OUTPUT

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          echo PRERELEASE=${{ github.event.release.prerelease }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ steps.image.outputs.id }}:${{ env.VERSION }}
            ${{ github.event.release.prerelease == false && format('{0}:latest', steps.image.outputs.id) || '' }}
